#navbar {
    background-color: #a17188;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 19px;
    margin-right: 20px;
}

.nav-items a {
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    text-decoration: none;
}

#intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

#intro-header {
    color: black;
    padding-bottom: 17px;
  }

#intro-content{ 
    color: black;
    font-size: 20px;
    line-height: 35px;
    width: 50%;
}
#intro-content img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about {
    background-color: #C7CEEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px; 
}
#common-header {
    color: black;
    font-size: 80px
}

#about-content {
    background-color: white;
    padding: 50px 120px;
    width:55%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    line-height: 35px;
    border-radius: 5px;
}
#about-content p {
    text-align: center;
}



#experience {
    background-color: #E2F0CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px; 
}

#experience-content {
    background-color: white;
    padding: 50px 120px;
    width:55%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    line-height: 35px;
    border-radius: 5px;
}
#experience-content p {
    text-align: center;
}

#experience-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#experience-content h2 {
    text-align: center;
}

#projects {
    background-color: #FFB7B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px; 
}

#projects-content {
    background-color: white;
    padding: 50px 120px;
    width:55%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    line-height: 35px;
    border-radius: 5px;
}
#projects-content p {
    text-align: center;
}
#projects-content a {
    color: black;
}

#projects-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#publications {
    background-color: #ACE7FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px; 
}

#publications-content {
    background-color: white;
    padding: 50px 120px;
    width:55%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    line-height: 35px;
    border-radius: 5px;
}
#publications-content a {
    color: black;
}
#publications-content p {
    text-align: center;
}

#publications-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projects-content {
    background-color: white;
    padding: 50px 120px;
    width:55%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    line-height: 35px;
    border-radius: 5px;
}

#projects-content p {
    text-align: center;
}

#projects-content h2 {
    text-align: center;
}

#experience-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .github {
    background: purple;
    color: white;
  }
  
  .envelope {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }

